.background {
    margin: 20px;
    box-shadow: 0 0 8px #888888;
    padding: 10px;
    width: 400px;
    height: auto;
    letter-spacing: 0.3px;
}

ul {
    margin: 0 0 40px 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #e3e3e3;
}

.description {
    font-size: 11px;
    color: #9c9c9c;
}

.item {
    font-size: 14px;
    color: #008FB4;
    cursor: pointer;
}

.item :hover {
    text-decoration: underline; 
    text-underline-position: under;
}